<!--prettier-ignore -->
{% extends 'base.html' %}

{% block content %}
<div class="row text-center">
  <div class="col">
    <h2>Welcome to Birdapp!</h2>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-4 mx-auto col-10">
    <form
      class="form"
      id="tweet-create-form"
      method="POST"
      action="/create-tweet"
    >
      {% csrf_token %}
      <input type="hidden" value="/" name="next" />
      <textarea
        required="required"
        class="form-control"
        name="content"
        placeholder="What's new?"
      ></textarea>
      <button type="submit" class="btn btn-primary">Tweet</button>
    </form>
  </div>
</div>

<div class="row" id="tweets">
  Loading...
</div>

<script>
  function handleFormSubmit(event) {
    event.preventDefault();
    const myForm = event.target;
    const myFormData = new FormData(myForm);
    // for (let myItem of myFormData.entries()) {
    //   console.log(myItem);
    // }
    const url = myForm.getAttribute("action");
    const method = myForm.getAttribute("method");
    const xhr = new XMLHttpRequest();
    const responseType = "json";
    xhr.responseType = responseType;
    xhr.open(method, url);
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
    xhr.onload = function () {
      if (xhr.status === 201) {
        const newTweetJson = xhr.response;
        // const newTweetJson = JSON.parse(newTweet);
        console.log(xhr.status, newTweetJson.likes);
        // const tweetsEl = document.getElementById("tweets");
        // loadTweets(tweetsEl);
        const newTweetElement = formatTweetElement(newTweetJson);
        console.log(newTweetElement);
        const ogHtml = tweetsContainerElement.innerHTML;
        tweetsContainerElement.innerHTML = newTweetElement + ogHtml;
        myForm.reset();
      }
    };
    xhr.send(myFormData);
  }

  const tweetCreateFormEl = document.getElementById("tweet-create-form");

  tweetCreateFormEl.addEventListener("submit", handleFormSubmit);

  const tweetsContainerElement = document.getElementById("tweets"); // getting an HTML elements
  //   tweetsElement.innerHTML = "Loading..."; // setting new html in the element

  //   let el1 = "<h1>Hi there 1</h1>";
  //   let el2 = "<h1>Hi there 2</h1>";
  //   let el3 = "<h1>Hi there 3</h1>";
  //   tweetsElement.innerHTML = el1 + el2 + el3;

  const loadTweets = function (tweetsElement) {
    const xhr = new XMLHttpRequest(); // xhr = SomeClass() <-- in Python
    const method = "GET";
    const url = "/tweets";
    const responseType = "json";
    // set up the XHR
    xhr.responseType = responseType; // .responseType = JSON
    // open up with this request method and this url
    xhr.open(method, url);
    xhr.onload = function () {
      //   console.log(xhr.response);
      const serverResponse = xhr.response;
      //   console.log("RIGHT HERE:", xhr.status, serverResponse);
      const listedItems = serverResponse.response;
      let finalTweetStr = "";
      let i;
      for (i = 0; i < listedItems.length; i++) {
        // console.log("i: ", i);
        // console.log(listedItems[i]);
        let tweetObj = listedItems[i];
        //   let currentItem = `<div class='mb-4'><h1> ${listedItems[i].id}</h1><p>${listedItems[i].content}</p></div>`;
        let currentItem = formatTweetElement(tweetObj);
        // "<div class='mb-4'><h1>" +
        // listedItems[i].id +
        // "</h1>" +
        // "<p>" +
        // listedItems[i].content +
        // "</p></div>";
        finalTweetStr += currentItem;
      }
      tweetsElement.innerHTML = finalTweetStr;
      // console.log(listedItems); // array of items
    };
    // trigger the request
    xhr.send();
  };

  loadTweets(tweetsContainerElement);
  function handleDidLike(tweet_id, currentCount) {
    console.log(tweet_id, currentCount);
  }

  //   function likeBtn(tweet) {
  //     return `<button class='btn btn-primary onClick=${handleDidLike(
  //       tweet.id,
  //       tweet.likes
  //     )}'>Like</button>`;
  //   }
  function likeBtn(tweet) {
    return (
      "<button class='btn btn-primary' onClick=handleDidLike(" +
      tweet.id +
      "," +
      tweet.likes +
      ")>" +
      tweet.likes +
      " Likes</button>"
    );
  }

  function formatTweetElement(tweet) {
    let formattedTweet = `<div class=' col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='"tweet-${
      tweet.id
    }"'><p>${tweet.content}</p> <div class='btn-group'>${likeBtn(
      tweet
    )}</div></div>`;
    return formattedTweet;
  }
</script>
{% endblock content %}
